@import "vars";

* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - $widthSite / 2);
  padding-right: calc(50% - $widthSite / 2);
}

img {
  max-width: 100%;
}

.box-content {
  overflow: hidden;
}

.header {
  background: $colorText;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  &__left {
    display: flex;
    align-items: end;
    gap: 41px;
  }

  &__right {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 33px;
  }
}

.logo:hover path {
  fill: $colorSelectSite;
  transition-duration: $hoverItem;
}

.btn {
  width: 50px;
}

.burger {
  &:hover {
    cursor: pointer;
  }

  &:hover path {
    fill: $colorSelectSite;
    transition-duration: $hoverItem;
  }
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;

  &:checked ~ .burger-nav {
    right: -$widthBurgerMenu;
  }

  &:checked + .burger path {
    fill: #e80a2b;
  }
}

.burger-nav {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 81px;
  right: 0;
  transition: right .3s;
  z-index: 1000;

  &__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__category {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $colorSelectSite;
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-top: 20px;
    width: max-content;

    &:hover {
      cursor: pointer;
      text-shadow: 1px 1px 2px $colorSelectSite;
      transition-duration: $hoverItem;
    }
  }

  &__category-box {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-top: 12px;
  }

  &__category-box a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-left: 22px;
    width: max-content;

    &:hover {
      color: $colorSelectSite;
      transition-duration: $hoverItem;
    }
  }
}

.top {
  display: flex;
  background-color: #F1E4E6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);

  &__description {
    border-left: 12px solid $colorSelectSite;
    padding-left: 28px;
    height: fit-content;
    margin-top: 18%;
    margin-left: 64px;
  }

  &__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: $colorText;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: $colorText;
  }

  b {
    color: $colorSelectSite;
  }
}

.top-head {
  background: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $colorSelectSite;
  }
}

.breadcrumbs {
  &__link {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    transition: $hoverItem;
    &:hover {
      color: $colorSelectSite;
    }
  }

  &__link-site {
    font-weight: 700;
    color: $colorSelectSite;
    &:hover {
      cursor: not-allowed;
    }
  }

  &__link:not(:last-child):after {
    content: "/";
    margin-left: 5px;
  }
}

.catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 65px;
  margin-bottom: 96px;

  &__item {
    position: relative;

    &__content {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      top: 0;
    }

    &__subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #FFFFFF;
    }

    &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: $colorSelectSite;
    }
  }

  &__item:hover img {
    filter: brightness(30%);
    transition-duration: 0.3s;
  }
}

.item-big {
  grid-column: span 3;
}

.products {
  margin-bottom: 60px;
}

.filter-sort {
  padding-top: 39px;
  height: 132px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  gap: $gapGrid;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  z-index: 100;
  transition: 0.3s;

  &[open] {
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    height: max-content;
  }

  &[open] .filter__heading {
    color: $colorSelectSite;
  }

  &[open] path {
    fill: $colorSelectSite;
  }

  &__summary {
    display: flex;
    align-items: center;
    gap: 11px;
    padding-left: 16px;
    width: min-content;

    &:hover {
      cursor: pointer;
    }

    &:hover .filter__heading {
      color: $colorSelectSite;
    }

    &:hover path {
      fill: $colorSelectSite;
    }
  }

  &__content {
    margin-top: 16px;
    padding: 0 16px 16px 16px;
  }

  &__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $colorText;
  }

  &__item {
    margin-bottom: 24px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__head {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding: 8px 11px 11px 11px;
    border-left: 5px solid $colorSelectSite;
    border-bottom: 1px solid #EBEBEB;

    &:hover {
      cursor: pointer;
      color: $colorSelectSite;
    }
  }

  &__link-box {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 24px 16px 0 16px;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    width: max-content;

    &:hover {
      color: $colorSelectSite;
    }
  }

  &__item[open] .filter__head {
    color: $colorSelectSite;
  }
}

.sort {
  padding-top: 13px;
  display: flex;
  gap: 28px;
  z-index: 10000;

  &__details {
    position: relative;

    &[open] svg {
      transform: rotate(180deg);
      translate: 0 -3px;
    }

    &[open] .sort__heading {
      font-weight: 600;
      color: $colorSelectSite;
    }

    &[open] path {
      fill: $colorSelectSite;
    }
  }

  &__summary {
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
      cursor: pointer;
    }

    &:hover .sort__heading {
      color: $colorSelectSite;
    }

    &:hover path {
      fill: $colorSelectSite;
    }
  }

  &__heading {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-bottom: 5px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 6px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 7px 30px 11px 9px;
    position: absolute;
    left: -9px;
    top: 22px;
  }

  &__check {
    display: flex;
    gap: 9px;
    align-items: center;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
  }
}

.products-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 48px;
}

.products-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: $colorText;
}

.products-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.products-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: $gapGrid;
  row-gap: 25px;
  margin-bottom: 48px;
}

.product {

  &__image {
    position: relative;
  }

  .hover-content {
    position: absolute;
    top: 45%;
    left: 30%;
    display: none;
    justify-content: center;
    color: white;
    gap: 11px;
    padding: 11px 16px 9px 13px;
    border: 1px solid #FFFFFF;
  }

  &__image:hover img {
    filter: brightness(0.2);
    transition-duration: 0.3s;
  }

  &__image:hover .hover-content {
    display: flex;
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 16px;
    background-color: #F8F8F8;
  }

  &__name {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
  }

  &__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $colorSelectSite;
  }
}

.button-box {
  display: flex;
  justify-content: center;
}

.button {
  border: 1px solid #FF6A6A;
  padding: 15px 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  transition-duration: 0.4s;
}

.button:hover {
  color: #FFFFFF;
  background: $colorSelectSite;
}


.features {
  display: flex;
  flex-direction: row;
  padding-top: 104px;
  padding-bottom: 104px;
  gap: 30px;
  background: $colorText;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 134px;
  width: $thirdSite;

  &__heading {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin-bottom: 16px;
    margin-top: auto;
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
  }
}


.cart-items {
  padding-top: 96px;
  padding-bottom: 96px;
}

.cart-heading {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: $colorText;
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.cart-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cart-item {
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  display: flex;
  flex-direction: row;
  width: 652px;

  img {
    max-width: 262px;
  }

  &__description {
    position: relative;
    padding-top: 22px;
    padding-left: 31px;
    padding-bottom: 62px;
    background: #FFFFFF;
    width: 390px;
  }

  &__box {
    max-width: 262px;

    h2 {
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: $colorText;
      margin-bottom: 42px;
    }
  }

  &__box-description {
    display: flex;
    flex-direction: column;
    gap: 6px;

    p {
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      color: #575757;
      margin-bottom: 0;
    }
  }

  &__price {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #EF5B70;
  }

  &__quantity {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    margin-bottom: 0;

    display: flex;
    flex-direction: row;
    gap: 24px;

    input {
      border: 1px solid #EAEAEA;
      width: 44px;
      height: 25px;

      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #656565;
      text-align: center;
    }
  }

  &__close {
    position: absolute;
    top: 28px;
    right: 22px;
  }

  &__close:hover {
    cursor: pointer;
  }

  &__close:hover path {
    fill: black;
  }
}

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 97px;
  padding-bottom: 126px;
  background: url("img/bc-subscribe.svg") no-repeat left;
  background-size: cover;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 350px;

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $colorText;
  }
}

.promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 557px;

  &__h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: $colorText;
  }

  &__h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: $colorText;
  }

  &__form {
    display: flex;
    min-height: 49px;
    margin-top: 32px;

    input {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      color: #222224;
      opacity: 0.67;
      padding-left: 22px;

      background: #E1E1E1;
      border: 0;
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px;
      min-width: 256px;
    }

    button {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #FFFFFF;

      background: $colorSelectSite;
      border: 0;
      border-bottom-right-radius: 30px;
      border-top-right-radius: 30px;
      min-width: 100px;
      transition-duration: 0.4s;
    }

    button:hover {
      background: #e80a2b;
      cursor: pointer;
    }
  }
}


.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222224;
  padding-top: 24px;
  padding-bottom: 23px;
}

.copyright-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.social-link:hover .bc-path {
  fill: $colorSelectSite;
  transition-duration: 0.4s;
}

.social-link:hover .icon-path {
  fill: white;
  transition-duration: 0.4s;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - $widthTable / 2);
    padding-right: calc(50% - $widthTable / 2);
  }

  .header__left {
    margin-left: 16px;
  }

  .header__right {
    margin-right: 16px;
  }

  .top {

    &__img {
      max-width: 386px;
    }

    &__description {
      padding-left: 16px;
      margin-left: 39px;
    }

    &__title {
      font-size: 44px;
      line-height: 53px;
    }

    &__subtitle {
      font-size: 24px;
      line-height: 29px;
    }
  }

  .catalog {
    gap: 20px;
    margin-bottom: 110px;
  }

  .products {
    margin-bottom: 70px;
  }

  .products-heading {
    gap: 3px;
    margin-bottom: 72px;
  }

  .products-box {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 32px;
  }

  .product__description {
    padding-left: 16px;
    padding-right: 28px;
    padding-bottom: 20px;
  }

  .features {
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 64px;
  }

  .subscribe {
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 140px;
    gap: 48px;
  }

  .promotion__form {
    margin-top: 27px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .center {
    padding-left: calc(50% - $widthMob / 2);
    padding-right: calc(50% - $widthMob / 2);
  }

  .header__left {
    margin-left: 8px;
  }

  .header__right {
    margin-right: 8px;
  }

  .logo-4 {
    display: none;
  }

  .logo-5 {
    display: none;
  }

  .top {
    min-height: 363px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);

    &__img {
      display: none;
    }

    &__description {
      border-left: 12px solid $colorSelectSite;
      margin: 0;
      padding-left: 15px;
    }

    &__title {
      font-size: 38px;
      line-height: 46px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .catalog {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
  }

  .item-big {
    height: 111px;
    background-image: url("img/accessories-catalog.svg");
    background-position: center;
    background-size: cover;
  }

  .img-access {
    display: none;
  }

  .products {
    margin-bottom: 85px;
  }

  .products-heading {
    margin-bottom: 65px;
  }

  .products-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .features {
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 64px;
  }

  .cart-item {
    flex-direction: column;

    &__description {
      width: 359px;
    }

    img {
      max-width: 359px;
    }

    &__box h2 {
      align-items: center;
    }
  }

  .subscribe {
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 110px;
    gap: 59px;
  }

  .promotion {
    width: 320px;

    &__h1 {
      line-height: 153%;
    }

    &__h2 {
      font-size: 14px;
      line-height: 153%;
    }

    &__form {
      margin-top: 22px;

      input {
        min-width: 210px;
      }

      button {
        min-width: 80px;
      }
    }
  }

  .copyright {
    flex-direction: column-reverse;
    gap: 40px;
    padding-top: 43px;
    padding-bottom: 9px;
  }
}